/* Write your CSS here */
.card {
  width: 200px;
  background-color: #f8f8ff;
  text-align: center;
  margin: 20px;
  margin-left: 40px;
  list-style-type: none;
}
.image {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.name {
  color: #e73959;
}
.flex {
  display: flex;
  margin-left: 20px;
}
.sm-image {
  width: 10px;
  height: 10px;
  margin-top: 25px;
  margin-right: 10px;
}
