/* Write your CSS here */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.items-list-container {
  display: flex;
  margin-left: 300px;
}
.head {
  color: black;
  font-weight: bold;
  font-family: 'Lobster';
  text-align: center;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.loader {
  text-align: center;
}
